
  
  .analogue_clock{
    background-image: url(/starter-code/img/clock_face.jpg);
    background-repeat: no-repeat;
    width: 30rem;
    height: 30rem;
  
  }
  
  .outer-clock-face {
    background-image: url(/starter-code/img/clock_face.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
  }
 
  .hand {
    width: 50%;
    right: 84%;
    height: 6px;
    background: black;
    position: absolute;
    top: 30%;
    transform-origin: 100%;
    transform: rotate(90deg);
  }
  
  .hand.hour-hand {
    width: 8%;
    z-index: 3;
  }
  
  .hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 10%;
  }
  
  .hand.second-hand {
    background: red;
    width: 12%;
  }
  #dclock{
      margin-top: 250px;
      margin-left: 160px;
      position: absolute;
      font-size: 15px;
      z-index: 999;
  }
  #dclock1{
    margin-top: 250px;
    margin-left: 170px;
    position: absolute;
    font-size: 15px;
    z-index: 999;
    display: none
}